<div class="col-md-12">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-header">
                    <h4 class="card-title"> All Employees</h4>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <div class="card-body"> 
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Contact 
              </th>
              <th>
                Location 
              </th>
              <th>
                Type 
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Ahsan
                </td>
                <td>
                  sample12@gmail.com
                </td>
                <td>
                  03001299901
                </td>
                <td>
                  Karachi
                </td>
                <td>
                  unexamined
                </td>
              </tr>
              <tr>
                <td>
                  Ali
                </td>
                <td>
                  sample60@gmail.com
                </td>
                <td>
                  03342387912
                </td>
                <td>
                  Sukkur
                </td>
                <td>
                  unexamined
                </td>
              </tr>
              <tr>
                <td>
                  Youshif
                </td>
                <td>
                  sample65@gmail.com
                </td>
                <td>
                  03112380012
                </td>
                <td>
                  Lahore
                </td>
                <td>
                  unexamined
                </td>
              </tr>
              <tr>
                <td>
                  Zeeshan
                </td>
                <td>
                  sample11@gmail.com
                </td>
                <td>
                  03301323812
                </td>
                <td>
                  Punjab
                </td>
                <td>
                  unexamined
                </td>
              </tr>
              <tr>
                <td>
                  Mujeeb
                </td>
                <td>
                  sample01@gmail.com
                </td>
                <td>
                  03120323879
                </td>
                <td>
                  Karachi
                </td>
                <td>
                  unexamined
                </td>
              </tr>
              <tr>
                <td>
                  Anis
                </td>
                <td>
                  sample66@gmail.com
                </td>
                <td>
                  03012382998
                </td>
                <td>
                  Karachi
                </td>
                <td>
                  unexamined
                </td>
              </tr>
              <tr>
                <td>
                  Salman
                </td>
                <td>
                  sample98@gmail.com
                </td>
                <td>
                  03015478791
                </td>
                <td>
                  Lahore
                </td>
                <td>
                  unexamined
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
