<div class="col-md-12">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-header">
                    <h4 class="card-title"> All Employees</h4>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <div class="card-body"> 
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Contact 
              </th>
              <th>
                Location 
              </th>
              <th>
                Type 
              </th>
              <th>
                Actions 
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>
                  {{user.name}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.contact}}
                </td>
                <td>
                  {{user.location}}
                </td>
                <td>
                  {{user.type}}
                </td>
                <td>
                  <a [routerLink]="['/employee-details']" class="btn btn-primary btn-round py-1 px-3">
                    <span>view</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
