<div class="card card-user">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Employee Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Date</label>
                            <input type="date" class="form-control" placeholder="Hiring Date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Employee Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Get Shareable Link</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>

        <div class="text">
            <div class="row">
                <div class="col-md-12">
                    <p>www.example.com/muhammadawais</p>
                    <p>User Name : ABCDE</p>
                    <p>Password: 1234</p>
                </div>
            </div>
        </div>

    </div>
</div>


